:root {
  --numOfPages: 6;
  --pageTransitionTime: 0.5s;
  --fontColor: white;
  --shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
  --mainBg: rgb(34, 34, 34);
  --inputBg: rgba(255, 255, 255, 0.3);
  --inputBorder: 2px solid rgb(255, 230, 87);
  --buttonColor: rgba(77, 190, 255, 0.9);
}

.bg picture, body, main form .heading, main form .pageContainer .page, main form .pageContainer .page .formChild, main form .pageContainer .page .formChild .inputContainer, main form .btnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg picture {
  width: 100%;
  height: 100%;
}

.bg picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

::-webkit-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  color: var(--fontColor);
  font-weight: 200;
  font-size: clamp(0.85, 3vw, 1.25rem);
}

:-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  color: var(--fontColor);
  font-weight: 200;
  font-size: clamp(0.85, 3vw, 1.25rem);
}

::-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  color: var(--fontColor);
  font-weight: 200;
  font-size: clamp(0.85, 3vw, 1.25rem);
}

::placeholder {
  font-family: 'Montserrat', sans-serif;
  color: var(--fontColor);
  font-weight: 200;
  font-size: clamp(0.85, 3vw, 1.25rem);
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.bg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
}

main {
  z-index: 2;
  width: 40vw;
  height: 80vh;
  border-radius: 35px;
  background: var(--mainBg);
  opacity: 0.8;
  border: 2px solid #ffeb77;
  -webkit-box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.7);
          box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.7);
}

main form {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}

main form .heading {
  width: 100%;
  height: 10%;
}

main form .heading h2 {
  font-size: clamp(1.5rem, 4vw, 2rem);
  color: var(--fontColor);
}

main form .pageContainer {
  min-width: calc(100%*var(--numOfPages));
  height: 75%;
  -webkit-transition: all var(--pageTransitionTime) ease;
  transition: all var(--pageTransitionTime) ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main form .pageContainer .page {
  min-width: calc(100%/var(--numOfPages));
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main form .pageContainer .page .formChild {
  width: 80%;
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main form .pageContainer .page .formChild .inputContainer {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main form .pageContainer .page .formChild .inputContainer label,
main form .pageContainer .page .formChild .inputContainer input {
  font-size: clamp(1rem, 3vw, 1.5rem);
  color: var(--fontColor);
}

main form .pageContainer .page .formChild .inputContainer input,
main form .pageContainer .page .formChild .inputContainer textarea {
  font-family: 'Montserrat', sans-serif;
  color: var(--fontColor);
  font-size: clamp(0.85, 3vw, 1.35rem);
  font-weight: 200;
  border-radius: 10px;
  padding: 0.8rem 0.6rem;
  width: 100%;
  outline: none;
  background: var(--inputBg) !important;
  border: none;
  border-bottom: var(--inputBorder);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
}

main form .btnContainer {
  width: 100%;
  height: 10%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main form .btnContainer button {
  width: 25%;
  height: 66.66%;
  border-radius: 20px;
  font-size: clamp(0.8rem, 2vw, 1rem);
  background: var(--buttonColor);
  outline: 0;
  border: 0;
  cursor: pointer;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
}

main form .btnContainer #previous_button,
main form .btnContainer #submit_button {
  display: none;
}
/*# sourceMappingURL=style.css.map */