:root {
    --overlay: rgba(0, 0, 0, 0.4);
    --fontColor: white;
    --shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
    --mainBg: rgb(34, 34, 34);
    --inputBg: rgba(255, 255, 255, 0.3);
    --inputBorder: 2px solid rgb(255, 230, 87);
    --buttonBg: rgba(77, 190, 255, 0.8);
    --buttonHoverBg: rgba(131, 131, 131, 0.9);
}

form {
    overflow: hidden;
}

.pageContainer {
    min-width: calc(100%*var(--numOfPages));
    height: 75%;
    -webkit-transition: all var(--pageTransitionTime) var(--pageTransitionCurve);
    transition: all var(--pageTransitionTime) var(--pageTransitionCurve);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.pageContainer .page {
    min-width: calc(100%/var(--numOfPages));
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}